
/* Body for HTML */
body {
  font-family: Inter, sans-serif;
  padding: 10px;
  background: linear-gradient(135deg, #5b9cff, #7aaeff);
}

/* Shows the popup for the entire extension */
.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background: #f7f9fc;
  border-radius: 15px;
  overflow: hidden;

}

/* Header of the popup (Anything diplayed above the line) */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-bottom: 4px solid #4A90E2;
  padding-bottom: 3px;
  
}

/* Title of the popup "Clarity" */
.title {
  font-size: 18px;
  font-weight: 600;
  color: #1f1f1f;
}

/* Clarity logo */
.clarityLogo {
  width: 35px;
  height: 35px;
  border-radius: 6px;
}

/* Adblock toggle switch */
.adBlockSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}


.adBlockSwitch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.adBlockSwitch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #cfc9c9;
  border-radius: 32px;
  transition: 0.3s;
  
}

.adBlockSwitch .slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}


#adBlock:checked + .slider {
  background: linear-gradient(to right, #4A90E2, #50E3C2);
}


#adBlock:checked + .slider::before {
  transform: translateX(24px);
}


.adblocksection label {
  display: flex;
  align-items: center;
  gap: 155px;
  cursor: pointer;

}

.adblocksection {
  margin-left: 25px;
  margin-top: 20px;
  margin-right: 25px;
  border-color: #cfc9c9;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 5px;
}

.adBlockIcon {
  width: 35px;
  height: 35px;
}

/*Thirst trap toggle switch*/

.thirstTrapSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}


.thirstTrapSwitch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.thirstTrapSwitch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #cfc9c9;
  border-radius: 32px;
  transition: 0.3s;
  
}

.thirstTrapSwitch .slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}


#thirstTrap:checked + .slider {
  background: linear-gradient(to right, #4A90E2, #50E3C2);
}


#thirstTrap:checked + .slider::before {
  transform: translateX(24px);
}


.thirsttrapsection label {
  display: flex;
  align-items: center;
  gap: 155px;
  cursor: pointer;

}

.thirsttrapsection {
  margin-left: 25px;
  margin-top: 20px;
  margin-right: 25px;
  border-color: #cfc9c9;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 5px;
}

.thirstTrapIcon {
  width: 35px;
  height: 35px;
}



